.main-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    font-size: .9rem;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    color: #ffffff;
}

.table {
    background-color: #202020;
    border-radius: 4px;
    padding: 1.7px;
    text-align: left;
    padding-left: 2px;
    position: relative;
    height: 100%;
    width: 318.35px;
    overflow: default;
    display: block;
}

.history, .close {
    text-align: right;
    padding: 6px;
    font-size: 1.3rem;
    font-weight: normal;
}

#screen{
    height: 50px;
    font-size: 2rem;
    font-weight: bold;
    padding-right: 9px;
    vertical-align: top; 
}

.prev-screen {
    font-size: 1rem;
    padding-right: 14px;
    margin-bottom: 0;
    color: #a6a6a6;
    vertical-align: bottom;
}

.screen, .prev-screen {
    background-color: #202020;
    text-align: right;
    max-width: 300px;
    overflow: hidden;
}

.screen:hover,
.prev-screen:hover {
    background-color: inherit;
    color: inherit;
}

.prev-screen:hover {
    color: #a6a6a6;
}

.screen:hover {
    color: #ffffff;
}

th {
    font-weight: bold;
}

td {
    background-color: #323232;
    color: #ffffff;
    border-radius: 3px;
    padding: 3px;
    text-align: center;
    width: 71px;
    height: 45px;
    transition: .07s ease-in-out;
    box-shadow: 10 2px 2px #353535;
    font-size: 1.3rem;
    font-weight: normal;
}

td[data-id='percentage'], td[data-id='CE'], td[data-id='C'], td[data-id='1/x'], td[data-id='squared'], td[data-id='square-root'] {
    font-size: 1rem;
}

td[data-id='backspace'] {
    font-size: .83rem;
}

.operation {
    font-size: 1.5rem;
    font-weight: normal;
}

.number, td[data-id='+/-'], td[data-id='.'] {
    background-color: #3b3b3b;
}

.number {
    font-size: 1rem;
}

.number:hover, td[data-id='+/-']:hover, td[data-id='.']:hover {
    background-color: #323232;
}

td:hover {
    background-color: #3c3c3c;
    color: #ffffff;
}

td[data-id='='] {
    background-color: #a2c7d0;
    color: #2d373a;
}

td[data-id='=']:hover {
    background-color: #94b6be;
}

.prev-screen, .screen {
    text-align: right;
    width: 300px;
    background-color: #202020;
}

.prev-screen {
    color: #a6a6a6;
    font-size: 1.3rem;
    vertical-align: bottom;
    background-color: transparent;
}

.screen {
    font-weight: bold;
    font-size: 2rem;
    vertical-align: top;
}

.no-history {
    text-align: left;
    width: 353px;
    background-color: #202020;
}

thead {
    transition: all .3s ease-in-out;
}

.thead-history {
    background-color: #131212;
    color: #8f8f8f;
}

.thead-history:hover {
    color: inherit;
    color: #8f8f8f;
}


/* Scrollbar */

/* Width */
::-webkit-scrollbar {
    width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(187, 184, 184); 
    border-radius: 10px;
}

/* Handle on Hover */
::-webkit-scrollbar-thumb:hover {
    background: gray; 
}

.delete-icon {
    background-color: transparent;
    text-align: right;
}

.tbody-container {
    position: relative;
    width: 50%;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #202020;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
    overflow: auto;
}

.overlay-active {
    height: 330px;
    overflow: auto;
}